
.btn-primary {
    background-color: $secoundary;
    padding: 2em 4em;
    margin-bottom: 3em;
    color: $dark;
    border: 2px solid $dark;
    text-decoration: none;
    font-weight: $font-black;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: all ease-in-out 500ms;

    &:hover {
        color: $secoundary;
        background-color: $dark;
        border-radius: 25%;
        border: 3px solid #444;
 
    }
    &:focus {
        color: $secoundary;
        background-color: $dark;
        border-radius: 25%;
        border: 3px solid #444;
    }
    &:active {
        color: $secoundary;
        background-color: $dark;
        border-radius: 25%;
        border: 3px solid #444;
    }

}

.btn-secoundary {
    
    background-color: $dark;
    padding: 2em 4em;
    margin-bottom: 3em;
    color: $white;
    text-decoration: none;
    font-weight: $font-black;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 2px solid $white; 
    transition: all ease-in-out 500ms;

    &:hover {
        color: $dark;
        background-color: $secoundary;
        border-radius: 25%;   
        border: 2px solid $dark; 

    }
    &:focus {
        color: $dark;
        background-color: $secoundary;
        border-radius: 25%;   
        border: 2px solid $dark; 
    }
    &:active {
        color: $dark;
        background-color: $secoundary;
        border-radius: 25%;   
        border: 2px solid $dark; 
    }

}

.active {
    border-top: 5px solid $white;
}
button {
    margin-top: 2em;
    height: 3em;
    width: 6em;
    color: #fff;
    border: 2px solid $primary;
    background:$dark;
    text-transform: uppercase;
    font-weight: $font-normal;
    letter-spacing: 0.15em;
    border-radius: 25%;
    transform: scale(1);
    transition: all 250ms ease-in-out;

    &:hover {
        background-color: rgba(197, 196, 196, 0.815);
        color: $dark;
        border: 2px soldi $dark;
        font-weight: $font-bold;
        transform: scale(1.25);
    }
    &:active {
        background-color: rgba(197, 196, 196, 0.815);
        color: $dark;
        border: 2px soldi $dark;
        font-weight: $font-bold;
        transform: scale(1.25);
    }
    &:focus {
        background-color: rgba(197, 196, 196, 0.815);
        color: $dark;
        border: 2px soldi $dark;
        font-weight: $font-bold;
        transform: scale(1.25);
    }
}
